body
{
    display:grid; /*modelo grilla con filas y columnas*/ 
    grid-template-columns: 1fr; 
    /*repeat(cantidad, tamaño) cuando las filas son iguales*/
    /*en este caso la unica columna ocupa toda la proporcion*/
    /* filas adaptables a la altura de la ventana: 25% / 60% / 15% */
    grid-template-rows: 20vh 60vh 10vh; /* header | main | footer */
     /* sin repeat porque las filas no son iguales*/
    /* en este caso se divide en 3 filas:
    - la primera ocupa 20% de la altura viewport
    - la segunda ocupa 60% de la altura viewport
    - la tercera ocupa 10% de la altura viewport */
    background-color: rgb(255, 255, 255);
    /*El body No tiene altura predeterminada, su altura depende del contenido, a menos de que lo configuremos*/
    min-height: 100vh; 
    /* vh significa Viewport Height (altura del área visible de la pantalla)*/
    /* El elemento ocupará MINIMO todo el alto de la pantalla del dispositivo, aunque el contenido sea pequeño.*/
    /* Si tenemos una malla de productos, la pagina (el main que fue el que quedo con proporciones (1fr) 
    es el que crece...el header y el footer siguen midiendo 70 px cada uno */
    /*ojo, porque a este 100 se le suman los margenes de los h1, de los p,por eso siempre deben reiniciarse
    las margenes de h1, p...etc a margin: 0;*/
    margin:20px;
    gap:20px; /*espacio entre filas y columnas, en este caso solo entre filas porque solo hay una columna*/ 

    /* evitar barra de desplazamiento y fijar contenido al viewport */
    overflow: hidden;
}


body header
{
    grid-column: 1/2; /*ocuapra la primera columna, que es la unica que hay*/
    grid-row:1/2; /*ocupa la primera fila, que es la del header*/
    background-color: rgb(255, 188, 210);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* el header se dividirá en tres columnas */
}

/* columnas internas del header */
body header #contenedorlogo 
{
    grid-column: 2/3; /* ocupa la segunda columna del header, osea la central */
    grid-row:1/2;/*ocupa la primera fila, que es la unica que hay*/
    height: 100%; /* asegurar que cada celda ocupe 100% del alto del header */
    background: url("../f_imagenes/Logo.png") center/contain no-repeat;
}

body main
{
    grid-column: 1/2;
    grid-row:2/3;
    background-color:  rgb(162, 148, 240);
}
body footer
{
    grid-column: 1/2;
    grid-row:3/4;
    background-color: rgb(127, 210, 127);
}
.contenedor {
    display: flex;
    height: 300px;
    background-color: rgb(0, 0, 0);

    /* AQUÍ actúa align-items */
    align-items: center;
    justify-content: center;
    
}

.caja {
    width: 80px;
    height: 80px;
    background-color: rgb(171, 126, 255);
    margin: 10px;
}